@model MathModeling21.Models.ArticleViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input id="box-publish" type="checkbox" checked=@false />
                <input id="val-publish" type="hidden" asp-for="IsPublished" value=@false />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#box-publish").change(function () {
            var oldval = $("#val-publish").val() == "true";
            $("#val-publish").val(!oldval);
        });

        $(document).ready(function () {
            $('#Body').summernote({
                height: 200,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFiles(files, "#Body")
                    },
                    onMediaDelete: function (target) {
                        imgUrl = target[0].src;
                        tempLst = imgUrl.split('/');
                        fileName = tempLst[tempLst.length - 1];

                        deleteFile(fileName);                  
                    }
                }
            });         
        });
    </script>    
}
