@model MathModeling21.Models.ArticleViewModel

@{
    ViewData["Title"] = "Edit";
    var currentImage = ViewData["CurrentImage"];
    int id = (int) ViewData["Id"];
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@id"/>
            <input type="hidden" name="currentImg" value="@currentImage" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Ảnh đại diện hiện tại</label>
                <img src="~/Images/@currentImage" style="max-height:200px; max-width: 300px" />
            </div>           
            <div class="form-group">
                <label asp-for="Image" class="control-label">Thay ảnh đại diện</label>
                <input asp-for="Image" type="file" accept="image/*" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPublished" class="control-label"></label>
                <input id="box-publish" type="checkbox" checked=@Model.IsPublished />
                <input id="val-publish" type="hidden" asp-for="IsPublished" value=@Model.IsPublished />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#box-publish").change(function () {
            var oldval = ($("#val-publish").val() == "true") || ($("#val-publish").val() == "True");
            $("#val-publish").val(!oldval);
        }); 

        $(document).ready(function () {
            $('#Body').summernote({
                height: 200,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFiles(files, "#Body")
                    },
                    onMediaDelete: function (target) {
                        imgUrl = target[0].src;
                        tempLst = imgUrl.split('/');
                        fileName = tempLst[tempLst.length - 1];

                        deleteFile(fileName);
                    }
                }
            });
        });
    </script>
}
