@model MathModeling21.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="10" cols="50"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostDate" class="control-label"></label>
                <input asp-for="PostDate" class="form-control" />
                <span asp-validation-for="PostDate" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ImagesStr" class="control-label"></label>
                <input asp-for="ImagesStr" class="form-control" />
                <span asp-validation-for="ImagesStr" class="text-danger"></span>
            </div>*@
            <input asp-for="ImagesStr" hidden />
            <div class="form-group">
                @foreach (var image in Model.Images)
                {
                    <img src="~/Images/@image" height="300" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#Body').summernote({
                height: 200,
                callbacks: {
                    onImageUpload: function (files) {
                        sendFiles(files, "#Body")
                    },
                    onMediaDelete: function (target) {
                        imgUrl = target[0].src;
                        tempLst = imgUrl.split('/');
                        fileName = tempLst[tempLst.length - 1];

                        deleteFile(fileName);
                    }
                }
            });
        });
    </script>
}
